@import "tailwindcss";
@import "tw-animate-css";
@import 'prismjs/themes/prism-tomorrow.css';

.shadow_circle{
  box-shadow: 0px 0px 1000px 200px rgba(142, 0, 237, 0.5);
}
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             
}